
<!DOCTYPE html>
<html dir="ltr" style="font-size:100%" lang="en">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="contract.fit" />

    <title>AG Insurance - Document activation demo</title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <!-- SEO -->
    <meta name="keywords" content="">
    <meta name="description" content="">

    <!-- Css -->
    <link rel="stylesheet"  type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet"  type="text/css" href="/css/style.css" />
    <link rel="stylesheet"  type="text/css" href="/css/font-icons.css" />
    <link rel="stylesheet"  type="text/css" href="/css/animate.css" />
    <link rel="stylesheet"  type="text/css" href="/css/magnific-popup.css" />
    <link rel="stylesheet"  type="text/css" href="/css/style.min.css" />

    <!-- Javascript -->
    <script type="text/javascript" src="/js/jquery.min.js"></script>

    <!-- Document Title
    ============================================= -->

</head>

<body class="stretched" data-loader-timeout="10" >

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="" >
        <link rel="stylesheet" type="text/css" href="/css/annotator.css">

        <div id="header-wrap">
            <div class="container clearfix">
                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="/" data-href="#" class="standard-logo" data-dark-logo="/images/logo_AGI"><img style="padding-top:5px;padding-bottom:10px;" src="/images/logo_AGI" alt="Logo"></a>
                    <a href="/" data-href="#" class="retina-logo" data-dark-logo="/images/logo_AGI"><img style="padding-top:5px;padding-bottom:10px;" src="/images/logo_AGI" alt="Logo"></a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">
                    <ul>
                        <li><a href="#"><div>Insurance claims handling demo</div></a> </li>
                    </ul>
                </nav><!-- #primary-menu end -->
            </div>
        </div>
        <script type="text/javascript" src="/js/annotorious/renderjson.js"></script>
    </header>

		<section id="content">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Post Content
					============================================= -->
					<div class="postcontent nobottommargin clearfix">

                        <h4>Example documents for the eight business processes</h4>

						<div class="list-group">
                            <a href="/review/Contract-mgt-1" class="list-group-item">Contract-mgt-1</a>
                            <a href="/review/Contract-mgt-2" class="list-group-item">Contract-mgt-2</a>
                            <a href="/review/Contract-mgt-3" class="list-group-item">Contract-mgt-3</a>
                            <a href="/review/Placement-mandate" class="list-group-item">Placement-mandate</a>
                            <a href="/review/SEPA-mandate" class="list-group-item">SEPA-mandate</a>
                            <a href="/review/Home-invoice" class="list-group-item">Home-invoice</a>
                            <a href="/review/Health-client-invoice" class="list-group-item">Health-client-invoice</a>
                            <a href="/review/Health-medi-assistance-invoice" class="list-group-item">Health-medi-assistance_invoice</a>
						</div>
                    </div>
                </div>
            </div>
        </section>



    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights" class="nopadding">

            <div class="container clearfix">

                Copyrights &copy; 2017 All Rights Reserved by Smart and Easy BVBA.
                <br>
            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

    <!-- Content
    ============================================= -->

</div><!-- #wrapper end -->

<!-- External JavaScripts
============================================= -->

<script type="text/javascript" src="/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/js/functions.js"></script>
</body>
</html>
